@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}

.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666666;
    position: relative;
    z-index: 0;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.menu-container {
    display: flex;
}
.menu-button {
    position: relative;
	z-index:2;
}
.menu-span {
    height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	transition: all 0.5s;
}
.menu-span:nth-of-type(2) {
	top: calc(50% - 6px);
}
.menu-span:nth-of-type(3) {
	top: calc(50% + 6px);
}
.menu-list {
  margin-top: 28px;
  margin-bottom:0;
  list-style: none; 
  margin-right:auto;
  padding-right: 15px;
}
.menu-list-item {
  display: inline-block;
}
.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}
.menu-list-item-link {
  text-decoration: none;
  color: #ffffff;
  font-family:OpenSans;
  font-size: 13px;
}
.menu-list-item-link:hover {
  text-decoration:underline;
  text-shadow: 0px 0px 1px #ffffff;
}
.header-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  z-index:2;
  font-family:OpenSans-Bold;
  text-transform: uppercase;
  color: #ffffff;
}

.trend-teg-list-link:hover {
  text-shadow: 0px 0px 1px #b59f5b;
  text-decoration:underline;
  text-decoration-color: #b59f5b;
}
.trend-area-title-link:hover {
  font-family:OpenSans-Bold;
  color: #b59f5b;
  cursor: pointer;
}

.news {
    padding:0;
}

.card {
  display: flex;
  flex-wrap: wrap;
}
.card-img {
  padding:0;
  margin:0;
  background-color: #666666;
}
.teg-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.teg-list-item {
  display: inline-block;
}
.teg-list-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  font-family:OpenSans-Bold;
}
.teg-list-link:hover {
  color: #b59f5b;
  text-decoration:underline;
  text-decoration-color: #b59f5b;
  font-family:OpenSans-Bold;
}
.card-name {
  text-transform: uppercase;
  font-family:OpenSans-Bold;
}
.card-name:hover {
  font-family:OpenSans-Bold;
  color: #b59f5b;
}
.card-name-link {
  text-decoration: none;
  color: black;
}
.card-date {
  font-family:OpenSans;
  color: #888888;
}
.card-author {
  font-weight: bold;
  font-family:OpenSans-Bold;
}
.card-content {
  line-height: 22px;
  font-family:OpenSans;
}
.posts-title {
  text-transform: uppercase;
  line-height: 29px;
  text-align: center;
  font-family:OpenSans-Bold;
}
.posts-title::after {
  content: "";
  margin:auto;
  display: block;
  width: 66px;
  padding-top: 5px;
  border-bottom: 3px solid #e1d9bd;
}
.post-card {
  display: flex;
}
.post-date {
  vertical-align: top;
  font-family:OpenSans;
  color: #888888;
}
.post-title {
  text-transform: uppercase;
  font-family:OpenSans-Bold;
  margin-top: 0;
  margin-bottom: 0;
}
.post-link {
  text-decoration: none;
  color: black;
}
.post-link:hover {
  cursor: pointer;
}

.search {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box
}
.field {
  width: 100%;
  border: 2px solid #f4f7f6;
  outline: none;
  background: #f4f7f6;
  color: #9E9C9C;
}
.field:focus {
    border-bottom: 1px solid #ebe7d7;
}
.button-search {
  position: absolute; 
  top: 0;
  right: 0px;
  border: none;
  background: #b59f5b;
  cursor: pointer;
}
.search-icon {
  margin: auto;
}

.subscription-section {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}
.distribut {
  text-transform: uppercase;
  text-align: center;
  font-family:OpenSans-Bold;
}
.distribut::after {
  content: "";
  margin:auto;
  display: block;
  width: 66px;
  padding-top: 3px;
  border-bottom: 3px solid #e1d9bd;
  font-weight: bold;
}
.subscription{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.field-2 {
  border: 2px solid #f4f7f6;
  outline: none;
  background: #f4f7f6;
  color: #9E9C9C;
}
.button-subscription {
  border: 2px solid #b59f5b;
  cursor: pointer;
  background: #b59f5b;
  text-transform: uppercase;
  text-align: center;
  font-family:OpenSans-Bold;
  font-weight: bold;
  color: #ffffff;
}

.tegs-title {
  text-transform: uppercase;
  text-align: center;
  font-family:OpenSans-Bold;
}
.tegs-title::after {
  content: "";
  margin:auto;
  display: block;
  width: 66px;
  padding-top: 3px;
  border-bottom: 3px solid #e1d9bd;
  font-weight: bold;
}
.tegs-list {
  list-style: none; 
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.tegs-list-item {
  box-sizing: border-box;
  border: 3px solid #dfdee8;
}
.tegs-link {
  text-transform: uppercase;
  font-family:OpenSans-Bold;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  line-height: auto;
}
.tegs-link:hover {
  color: #0f0d0e;
  font-family:OpenSans-Bold;
}

.topics-title {
  text-transform: uppercase;
  text-align: center;
  font-family:OpenSans-Bold;
}
.topics-title::after {
  content: "";
  margin:auto;
  display: block;
  width: 66px;
  padding-top: 3px;
  border-bottom: 3px solid #e1d9bd;
  font-weight: bold;
}
.topics-list {
  padding:0;
}
.topics-list-item {
  list-style: none;
}
.topics-link {
  text-decoration: none;
  color: black;
  font-family:OpenSans-Bold;
}
.topics-link:hover {
  color: #b59f5b;
  font-family:OpenSans-Bold;
}
.topics-list-item::after {
  content: "";
  margin:auto;
  display: block;
  width: 100%;
  padding-top: 10px;
  border-bottom: 1px solid #eeeeee;
  font-weight: bold;
}
.number {
  color:#b59f5b;
  font-family:OpenSans-Bold;
  font-size: 12px;
  font-weight: bold;
  vertical-align: super;
}

.shop-item-content-link:hover {
  text-shadow: 0px 0px 1px #b59f5b;
  text-decoration:underline;
  text-decoration-color: #b59f5b;
}
.shop-item-description:hover {
  text-shadow: 0px 0px 1px black;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.footer-container {
  margin-left: auto;
  margin-right: auto;
  background-color: #f4f7f6;
}
.socials {
  justify-content: center;
  align-items: center;
  display:flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-logo {
    display: inline-block;
}
.footer-copyright {
    text-align: center;
    font-family:OpenSans-Bold;
}
.footer-link {
  text-decoration: none;
  color: #999999;
  font-style: normal;
  font-family:OpenSans-Bold;
}

@media(max-width: 640px){
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
}
.popup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.popup-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 24px;
}
.popup-body {
    width: 331px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.sign-up-title {
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-family:OpenSans-Bold;
}
.sign-up-title::after {
  content: "";
  margin:auto;
  display: block;
  width: 66px;
  padding-top: 3px;
  border-bottom: 3px solid #e1d9bd;
  font-weight: bold;
}
.sign-up-form {
    display: flex;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
.select-label {
    font-size: 13px;
    padding-bottom: 12px;
}
.select {
    width:280px;
    height: 48px;
    margin-bottom: 34px;
    padding-left: 19px;
    color: #939594;
    background-color: #f4f7f6;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select {
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    padding-right: 35px;
    background-size: 10px;
}
.radio-forma-group {
    display: flex;
    flex-direction: column;
}
.radio-group {
    margin-right: 34px;
}
.radio {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
}
.radio-title {
    padding-left: 25px;
    padding-bottom: 12px;
    font-size: 13px;
}
.radio-list {
    padding-left: 25px;
    padding-bottom: 32px;
}
.radio-group-text {
    font-size: 13px;
}
.radio-group-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 7px;
    
}
.radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/form-circle.svg")
}
.field-group {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
}
.field-label {
    font-size: 13px;
    padding-bottom: 12px;
}
.field-group {
    width:278px;
}
.textarea {
    min-width: 256px;
    max-width: 256px;
    min-height: 109px;
    max-height: 109px;
    padding-left: 19px;
    padding-top: 21px;
    color: #939594;
    background-color: #f4f7f6;
    border: none;
}
.sign-up-row {
    padding-top: 27px;
    padding-bottom: 30px;
    padding-left: 25px;
}
.sign-up__button {
    width: 280px;
    height: 48px;
    border: 2px solid #b59f5b;
    cursor: pointer;
    background: #b59f5b;
    text-transform: uppercase;
    text-align: center;
    font-family:OpenSans-Bold;
    font-weight: bold;
    color: #ffffff;
}
.popup-close {
    display: flex;
    width: 331px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
}
.close-icon {
    width: 27px;
    margin-left: auto;
    margin-bottom: 6px;
}
    
.header {
    background-image: url("../images/banner-mobile.jpg");
}
.menu-container {
    margin-left: 4.2vw;
    margin-right: 4.2vw;
    width: 91.6vw;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding-top: 3.6vh;
   
}
.header-link {
    width: 74.4vw;
    align-self: center;
}
.header-logo {
    width: 74.4vw;
    margin-bottom: 5vh;
    margin-top: 19.86vh;
}
.menu-button {
    width: 8.3vw;
	height: 3.4vh;
}
.menu-span {
    width: 5.83vw;
}
.menu-list {
    display: none;
}
.header-title {
  width: 91.6vw;
  padding-bottom: 25vh;
  font-size: 26px;
  line-height: 36px;
  font-family:OpenSans-Bold;
  text-transform: uppercase;
  color: #ffffff; 
}

.trend-title {
  text-transform: uppercase;
  margin-top: 4.5vh;
  font-size: 16px;
  text-align: center;
  font-family:OpenSans-Bold;
}
.trend-title::after {
  content: "";
  margin:auto;
  display: block;
  width: 66px;
  padding-top: 5px;
  border-bottom: 3px solid #e1d9bd;
}
.trend-card-1 {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666666;
    position: relative;
    z-index: 0;
    width: 100vw;
    padding-top: 9.98vh;
    padding-bottom: 1.81vh;
    border: 1px solid #bdbfb6;
    margin-bottom: 1px;
}
.trend-card-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
.trend-card-2 {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666666;
    position: relative;
    z-index: 0;
    width: 100vw;
    padding-top: 9.98vh;
    padding-bottom: 1.81vh;
    border: 1px solid #bdbfb6;
    margin-bottom: 1px;
}
.trend-card-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
.trend-card-3 {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666666;
    position: relative;
    z-index: 0;
    width: 100vw;
    padding-top: 9.98vh;
    padding-bottom: 1.81vh;
    border: 1px solid #bdbfb6;
    margin-bottom: 1px;
}
.trend-card-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
.trend-card-4 {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #666666;
    position: relative;
    z-index: 0;
    width: 100vw;
    padding-top: 9.98vh;
    padding-bottom: 1.81vh;
    border: 1px solid #bdbfb6;
    margin-bottom: 1px;
}
.trend-card-4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
.trend-area {
    border: 3px solid #b59f5b;
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
}
.trend-tegs-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.trend-teg-list-item {
    display: inline-block;
    margin-left: 4.16vw;
    margin-top: 3.74vh;
}
.trend-teg-list-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    font-family:OpenSans-Bold;
}
.trend-area-title {
    margin-left: 4.16vw;
    margin-right: 4.16vw;
}
.trend-area-title-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    font-family:OpenSans-Bold;
}

.news {
  margin-top: 7.26vh;
  padding-left: 4.16vw;
  padding-right: 4.16vw;
}

.card {
  margin-bottom: 3.97vh;
}
.card-img {
  width: 91.6vw;
}
.card-area {
  width: 91.6vw;
}
.teg-list-item {
  margin-right: 4.16vw;
  margin-top: 1.7vh;
}
.card-name {
  width: 91.6vw;
  margin-top: 0.56vh;
  font-size: 16px;
}
.card-date {
  font-size: 12px;
}
.card-author {
  padding-left: 2.7vw;
  font-size: 12px;
}
.card-content {
  width: 91.6vw;
  font-size: 14px;
  border-bottom: 3px solid #bdbfb6;
}

.side_panel{
  width: 91.6vw;
  margin-top: 4.76vh;
  margin-right: 4.2vw;
  margin-left:  4.2vw;
}

.posts-title {
  font-size: 16px;
  margin-bottom: 3.3vh;
}
.post-card {
  margin-bottom: 2.5vh;
  width: 91.6vw;
  align-items: flex-start;
}
.post-img {
  width: 19.4vw;
}
.post-preview {
  width: 19.4vw;
}
.post-header {
  width: 66.4vw;
  margin-left: 5.5vw;
 
}
.post-date {
  font-size: 12px;
}
.post-title {
  font-size: 14px;
}

.search-section {
  margin-top: 5.67vh;
  width: 91.6vw;
} 
.field {
  height: 5.45vh;
  padding-left: 5vw;
}
.button-search {
  width: 13.3vw;
  height: 5.45vh;
}
.search-icon {
  width: 5vw;
}

.subscription-section {
  padding-top: 6.81vh;
  width: 91.6vw;
}
.distribut {
  font-size: 16px;
}
.field-2 {
  height: 5.45vh;
  padding-left:5vw;
}
.button-subscription {
  height: 5.45vh;
  margin-top: 2.04vh;
  font-size: 14px;
}

.tegs-section{
    width: 91.6vw;
    margin-top: 6.92vh;
}
.tegs-title {
  font-size: 16px;
}
.tegs-list-item {
  padding: 2px 3.3vw;
}
.tegs-link {
  font-size: 12px;
}
.tegs-list-item:nth-child(1n+5){
  margin-top: 0.56vh;
}
.tegs-list-item:nth-child(2n+1){
  margin-left: 1.38vw;
  margin-right: 1.38vw;
}

.topics-section{
  width: 91.6vw;
  margin-top: 6.92vh;
  margin-bottom: 7.26vh;
}
.topics-title {
  font-size: 16px;
}
.topics-list-item {
  margin-top: 1.13vh;
}
.topics-link {
  font-size: 14px;
}
.number {
  font-size: 12px;
}

.shop {
    width: 91.6vw;
    margin-right: 4.16vw;
    margin-left: 4.16vw;
    display: flex;
    flex-direction: column;
}
.shop-title{
    text-transform: uppercase;
    text-align: center;
    font-family:OpenSans-Bold;
    font-size: 16px;
}
.shop-title::after {
    content: "";
    margin:auto;
    display: block;
    width: 66px;
    padding-top: 3px;
    border-bottom: 3px solid #e1d9bd;
    font-weight: bold;
}
.shop-item {
    
}
.shop-item-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.shop-item-body {
    border: 3px solid #b59f5b;
    box-sizing: border-box;
    position: relative;
    top: -33px;
}
.shop-item-title {
    padding-top: 25px;
    padding-left: 4.16vw;
    padding-right: 4.16vw;
    text-transform: uppercase;
    font-family:OpenSans-Bold;
    font-size: 16px;
}
.shop-item-description {
    padding-left: 4.16vw;
    padding-right: 4.16vw;
}
.shop-item-content {
    font-size: 15px;
}
.shop-item-content-link {
    font-size: 15px;
    color: #b59f5b;
    text-decoration: none;
}
.shop-item-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-end;
    margin-bottom: 2.95vh;
    padding-left: 15px;
}
.shop-item-prices {
    font-weight: 700;
    color: #222;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-bottom: 10px;
}
.shop-item-price-old {
    text-decoration: line-through;
    font-size: 14px;
    margin-bottom: 0.56vh;
}
.shop-item-price {
    font-size: 20px;
}
.shop-item-button {
    margin-right: 4.16vw;
    width: 38.8vw;
    text-align: center;
    cursor: pointer;
    background: #b59f5b;
    color: #ffffff;
    font-family:OpenSans-Bold;
    font-size: 14px;
    text-transform: uppercase;
    height: 5.48vh;
    border: 1px solid #b59f5b;
}

.footer{
  width: 91.6vw;
}
.footer-container {
  width: 91.6vw;
}
.footer-logo {
  padding-top: 3.52vh;
  padding-bottom: 3.52vh; 
  padding-left: 2.7vw;
  padding-right: 2.7vw;
  width: 5.5vw;
  height 2.27vh;
}
.footer-copyright{
  padding-top: 5.67vh;
}
   
}

@media(max-width: 640px), (orientation: landscape) {  
}

@media(min-width: 640px) and (max-width: 1200px) {
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
}
.popup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.popup-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 200px;
}
.popup-body {
    width: 390px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.sign-up-title {
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-family:OpenSans-Bold;
    padding-top: 30px;
}
.sign-up-title::after {
  content: "";
  margin:auto;
  display: block;
  width: 66px;
  padding-top: 3px;
  border-bottom: 3px solid #e1d9bd;
  font-weight: bold;
}
.sign-up-form {
    display: flex;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.select-label {
    font-size: 13px;
    padding-bottom: 12px;
    font-family:OpenSans;
}
.select {
    width:330px;
    height: 48px;
    margin-bottom: 10px;
    padding-left: 19px;
    color: #939594;
    background-color: #f4f7f6;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select {
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    padding-right: 35px;
    background-size: 10px;
}
.radio-forma-group {
    display: flex;
    flex-direction: column;
}
.radio-group {
    margin-right: 34px;
}
.radio {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
}
.radio-title {
    padding-left: 30px;
    padding-bottom: 12px;
    font-size: 13px;
    font-family:OpenSans;
}
.radio-list {
    padding-left: 30px;
    padding-bottom: 32px;
}
.radio-group-text {
    font-size: 13px;
    font-family:OpenSans;
}
.radio-group-text::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 26px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 7px;
    
}
.radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/form-circle.svg")
}
.field-group {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.field-label {
    font-size: 13px;
    padding-bottom: 12px;
    font-family:OpenSans;
}
.field-group {
    width:330px;
}
.textarea {
    min-width: 311px;
    max-width: 311px;
    min-height: 109px;
    max-height: 109px;
    padding-left: 19px;
    padding-top: 21px;
    color: #939594;
    background-color: #f4f7f6;
    border: none;
}
.sign-up-row {
    padding-top: 27px;
    padding-bottom: 30px;
    padding-left: 25px;
}
.sign-up__button {
    width: 330px;
    height: 48px;
    border: 2px solid #b59f5b;
    cursor: pointer;
    background: #b59f5b;
    text-transform: uppercase;
    text-align: center;
    font-family:OpenSans-Bold;
    font-weight: bold;
    color: #ffffff;
}
.popup-close {
    display: flex;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
}
.close-icon {
    width: 28px;
    margin-left: auto;
    margin-bottom: 6px;
}
    
    
    .header {
       background-image: url("../images/banner-bg-tablet.jpg");
}
    .menu-container {
       margin-left: 4.55vw;
       margin-right: 4.55vw;
       padding-top: 43px;
       padding-bottom: 105px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   
}
    .header-link {
       width: 20.57vw;
       align-self: flex-start;
        
}
    .header-logo {
       width: 20.57vw;
       align-self: flex-start;
}
    .menu-button {
       width: 2.73vw;
	   height: 18px;
	   position: relative;
	   z-index:2;
        padding-top: 10px;
}
    .menu-span {
       width: 2.73vw;
    
}
    .menu-list {
       display: none;
}
    .header-title {
       padding-right: 5.2vw;
       padding-left: 5.2vw;
       padding-bottom: 128px;
       font-size: 40px;
       line-height: 55px; 
}
    
    .trend-section {
        display:flex;
        flex-wrap: wrap;
        
    }
    .trend-title {
       text-transform: uppercase;
       font-size: 18px;
       line-height: 29px;
       text-align: center;
       font-family:OpenSans-Bold;
       margin-top: 50px;
    }
    .trend-title::after {
       content: "";
       margin:auto;
       display: block;
       width: 66px;
       padding-top: 5px;
       border-bottom: 3px solid #e1d9bd;
}
    .trend-card-1 {
       background-image: url("../images/trend1.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #666666;
       position: relative;
       z-index: 0;
       border: 1px solid #bdbfb6;
       width: 49.6vw;
       display:flex;
       align-items: flex-end;
       padding-bottom: 15px;
    
}
    .trend-card-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
    .trend-card-2 {
       background-image: url("../images/trend2.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #666666;
       position: relative;
       z-index: 0;
       border: 1px solid #bdbfb6;
       width: 49.6vw;
       height: 247px;
       display:flex;
       align-items: flex-end;
       padding-bottom: 15px;
}
    .trend-card-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
    .trend-card-3 {
       background-image: url("../images/trend3.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #666666;
       position: relative;
       z-index: 0;
       border: 1px solid #bdbfb6;
       width: 49.6vw;
       height: 247px;
       display:flex;
       align-items: flex-end;
       padding-bottom: 15px;
}
    .trend-card-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
    .trend-card-4 {
       background-image: url("../images/trend4.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #666666;
       position: relative;
       z-index: 0;
       border: 1px solid #bdbfb6;
       width: 49.6vw;
       height: 247px;
       display:flex;
       align-items: flex-end;
       padding-bottom: 15px;
}
    .trend-card-4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
    .trend-area {
       border: 3px solid #b59f5b;
       margin-right: auto;
       margin-left: auto;
       width: 44vw;
       
        
}
    .trend-tegs-list {
       list-style: none;
       padding: 0;
       margin: 0;
       padding-right: 31px;
       padding-left: 31px;
       padding-top: 36px;
}
    .trend-teg-list-item {
       display: inline-block;
}
    .trend-teg-list-link {
       text-transform: uppercase;
       text-decoration: none;
       color: #b59f5b;
       font-size: 14px;
       font-weight: bold;
       font-family:OpenSans-Bold;
       margin-right: 20px;
}
    .trend-area-title {
       padding-right: 31px;
       padding-left: 31px;
}
    .trend-area-title-link {
       text-transform: uppercase;
       text-decoration: none;
       color: #ffffff;
       font-size: 17px;
       line-height: 22px;
       font-weight: bold;
       font-family:OpenSans-Bold;
}
    
    .page {
       display: flex;
       margin: auto;
       align-items: stretch;
    }
    
    .news {
       margin-top: 50px;
       padding-left: 4.55vw;
       padding-right: 4.55vw;
}

    .card {
       margin-bottom: 42px;
       width: 51vw;
}
    .card-img {
       width: 51vw;
}
    .card-area {
       width: 51vw;
}
    .teg-list{
       margin-top: 16px;
}
    .teg-list-item {
       margin-right: 2.73vw;
}
    .card-name {
       width: 51vw;
       font-size: 17px;
}
    .card-date {
       font-size: 12px;
       line-height: 40px;
  
}
    .card-author {
       padding-left: 2.7vw;
       font-size: 12px;
       line-height: 40px;
}
    .card-content {
       width: 51vw;
       font-size: 15px;
       border-bottom: 3px solid #bdbfb6;
}
    
    .side_panel{
        width: 35.28vw;
        margin-top: 26px
}

    .posts-title {
       font-size: 14px;
       margin-bottom: 28px;
 
}
    .post-card {
       align-items: flex-start;
}
    .post-img {
       width: 9.11vw;
       padding-right: 2.6vw;
       margin-bottom: 22px;
}
    .post-date {
       font-size: 12px;
}
    .post-title {
       font-size: 14px;
}
    
    .search-section {
       margin-top: 38px;
       width: 35.28vw;
} 
    .field {
       height: 48px;
       padding-left: 2.47vw;
}
    .button-search {
       width: 6.25vw;
       height: 48px;
}
    .search-icon {
       width: 2.21vw;
}
    
    .subscription-section {
       padding-top:60px;
       width: 35.28vw;
}
    .distribut {
       font-size: 14px;
       margin-bottom: 23px;
}
    .field-2 {
       height: 48px;
       padding-left: 2.47vw;
       font-size: 13px;
}
    .button-subscription {
       height: 48px;
       margin-top: 18px;
       font-size: 14px;
}
    
    .tegs-section{
       width: 35.28vw;
       margin-top: 60px;
}
    .tegs-title {
       font-size: 14px;
}
    .tegs-list-item {
       padding: 2px 15px;
}
    .tegs-link {
       font-size: 12px;
}
    .tegs-list-item:nth-child(1n+1){
       margin-top: 6px;
}
    .tegs-list-item:nth-child(3n+2){
       margin-left: 4px;
       margin-right: 4px;
}
    
    .topics-section{
       width: 35.28vw;
       margin-top: 55px;
}
    .topics-title {
       font-size: 14px;
}
    .topics-list-item {
       margin-top: 16px;
}
    .topics-link {
       font-size: 14px;
}
    .number {
       font-size: 12px;
}
    

    .shop {
    width: 90.88vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
    .shop-title{
    text-transform: uppercase;
    text-align: center;
    font-family:OpenSans-Bold;
    font-size: 18px;
}
    .shop-title::after {
    content: "";
    margin:auto;
    display: block;
    width: 66px;
    padding-top: 3px;
    border-bottom: 3px solid #e1d9bd;
    font-weight: bold;
}
    .shop-block {
    display:flex;
    flex-wrap: wrap;
    }
    .shop-item {
    width: 43.5vw;
    
    
    
}
    .shop-item:nth-child(0n+2) {
        margin-left: 2.73vw;
    }
    .shop-item-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    .shop-item-body {
    border: 3px solid #b59f5b;
    box-sizing: border-box;
    position: relative;
    top: -33px;
    height: 258px;
}
    .shop-item-title {
    text-transform: uppercase;
    font-family:OpenSans-Bold;
    font-size: 17px;
    padding-top: 25px;
    padding-right: 2.6vw;
    padding-left: 2.6vw;
}
    .shop-item-description {
    padding-right: 5.2vw;
    padding-left: 2.6vw;
}
    .shop-item-content {
    font-size: 15px;
    
    
}
    .shop-item-content-link {
    font-size: 15px;
    color: #b59f5b;
    text-decoration: none;
}
    .shop-item-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-end;
    padding-right: 1.95vw;
    padding-left: 1.95vw;
}
    .shop-item-prices {
    font-weight: 700;
    color: #222;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    
}
    .shop-item-price-old {
    text-decoration: line-through;
    font-size: 14px;
    
}
    .shop-item-price {
    font-size: 20px;
}
    .shop-item-button {
    width: 18.22vw;
    height: 48px;
    text-align: center;
    cursor: pointer;
    background: #b59f5b;
    color: #ffffff;
    font-family:OpenSans-Bold;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #b59f5b;
}

    .footer{
  width: 90.88vw;
}
    .footer-container {
  width: 90.88vw;
}
    .footer-logo {
  padding-top: 31px;
  padding-bottom: 31px; 
  padding-left: 1.95vw;
  padding-right: 1.95vw;
  width: 2.6vw;
}
    .footer-copyright{
  padding-top: 50px;
}
    
}

@media(min-width: 1200px) {
    
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
}
.popup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
.popup-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 200px;
}
.popup-body {
    width: 390px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
.sign-up-title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family:OpenSans-Bold;
    padding-top: 40px;
}
.sign-up-title::after {
  content: "";
  margin:auto;
  display: block;
  width: 66px;
  padding-top: 3px;
  border-bottom: 3px solid #e1d9bd;
  font-weight: bold;
}
.sign-up-form {
    display: flex;
    flex-direction: column;
}
.form-group {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.select-label {
    font-size: 13px;
    padding-bottom: 12px;
    font-family: OpenSans;
}
.select {
    width:330px;
    height: 48px;
    padding-left: 19px;
    color: #939594;
    background-color: #f4f7f6;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select {
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    padding-right: 35px;
    background-size: 10px;
}
.radio-forma-group {
    display: flex;
    flex-direction: column;
}
.radio-group {
    margin-right: 14px;
}
.radio {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
}
.radio-title {
    padding-left: 30px;
    padding-bottom: 12px;
    font-size: 13px;
    font-family: OpenSans;
}
.radio-list {
    padding-left: 30px;
    padding-bottom: 32px;
}
.radio-group-text {
    font-size: 13px;
    font-family: OpenSans;
}
.radio-group-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    vertical-align: middle;
    margin-right: 7px;
    
}
.radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/form-circle.svg")
}
.field-group {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}
.field-label {
    font-size: 13px;
    padding-bottom: 12px;
    font-family: OpenSans;
}
.field-group {
    width:330px;
}
.textarea {
    min-width: 311px;
    max-width: 311px;
    min-height: 109px;
    max-height: 109px;
    padding-left: 19px;
    padding-top: 21px;
    color: #939594;
    background-color: #f4f7f6;
    border: none;
}
.sign-up-row {
    padding-top: 27px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.sign-up__button {
    width: 330px;
    height: 48px;
    border: 2px solid #b59f5b;
    cursor: pointer;
    background: #b59f5b;
    text-transform: uppercase;
    text-align: center;
    font-family:OpenSans-Bold;
    font-weight: bold;
    color: #ffffff;
}
.popup-close {
    display: flex;
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
}
.close-icon {
    width: 17px;
    margin-left: auto;
    margin-bottom: 6px;
}
    
    .header {
  background-image: url("../images/banner-bg.jpg");

}
    .menu-container {
  height: inherit;
  justify-content: space-between;
  align-items: center;
  width:1200px;
  margin-left: auto;
  margin-right:auto;
}
    .menu-list {
        padding: 0;
    }
    .header-logo {
  width: 10.78vw;
  margin-top: 28px;
  margin-left: auto;
  padding-left: 0.9vw;
  
}
    .menu-button {
        display: none;
    }
    .menu-list-item-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-family:OpenSans;
  font-size: 13px;
  padding:0;
  margin: 0;
}
    .menu-list-item-link:hover {
  text-decoration:underline;
  text-shadow: 0px 0px 1px #ffffff;
}
    .header-title{
  width: 43vw;
  margin-top: 127px;
  padding-bottom: 127px;
  font-size: 45px;
  line-height: 75px;
}
    
    .trend-section {
        display:flex;
        flex-direction: row;
        
    }
    .trend-title {
       text-transform: uppercase;
       font-size: 18px;
       line-height: 29px;
       text-align: center;
       font-family:OpenSans-Bold;
       margin-top: 50px;
    }
    .trend-title::after {
       content: "";
       margin:auto;
       display: block;
       width: 66px;
       padding-top: 5px;
       border-bottom: 3px solid #e1d9bd;
}
    .trend-card-1 {
       background-image: url("../images/trend1.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #666666;
       position: relative;
       z-index: 0;
       border: 1px solid #bdbfb6;
       width: 24.9vw;
       display:flex;
       align-items: flex-end;
       padding-bottom: 15px;
       margin-right: 4px;
    
}
    .trend-card-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
    .trend-card-2 {
       background-image: url("../images/trend2.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #666666;
       position: relative;
       z-index: 0;
       border: 1px solid #bdbfb6;
       width: 24.9vw;;
       height: 247px;
       display:flex;
       align-items: flex-end;
       padding-bottom: 15px;
       margin-right: 4px;
}
    .trend-card-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
    .trend-card-3 {
       background-image: url("../images/trend3.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #666666;
       position: relative;
       z-index: 0;
       border: 1px solid #bdbfb6;
       width: 24.9vw;;
       height: 247px;
       display:flex;
       align-items: flex-end;
       padding-bottom: 15px;
       margin-right: 4px;
}
    .trend-card-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
    .trend-card-4 {
       background-image: url("../images/trend4.jpg");
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #666666;
       position: relative;
       z-index: 0;
       border: 1px solid #bdbfb6;
       width: 24.9vw;;
       height: 247px;
       display:flex;
       align-items: flex-end;
       padding-bottom: 15px;
}
    .trend-card-4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}
    .trend-area {
       border: 3px solid #b59f5b;
       margin-right: auto;
       margin-left: auto;
       width: 364px;
       padding-right: 31px;
       padding-left: 31px;
       padding-top: 36px;
}
    .trend-tegs-list {
       list-style: none;
       padding: 0;
       margin: 0;
       
}
    .trend-teg-list-item {
       display: inline-block;
}
    .trend-teg-list-link {
       text-transform: uppercase;
       text-decoration: none;
       color: #b59f5b;
       font-size: 14px;
       font-weight: bold;
       font-family:OpenSans-Bold;
        margin-right: 20px;
      
}
    .trend-area-title-link {
       text-transform: uppercase;
       text-decoration: none;
       color: #ffffff;
       font-size: 17px;
       line-height: 22px;
       font-weight: bold;
       font-family:OpenSans-Bold;
}
    
    .page {
  display: flex;
  width: 1200px;
  margin: auto;
  align-items: stretch;
}

.news {
  margin-top: 64px;
  padding-left: 15px;
  margin-right: 105px;
}

.card {
  margin-bottom: 59px;
}
.card-preview {
  margin-right: 30px;
}
.card-img {
  width: 381px;
  height: 294px;
  background-color: #666666;
}
.card-area {
  width: 371px;
}
.teg-list-item {
  margin-right: 15px;
  
}
.card-name {
  margin-top: 5px;
  margin-bottom: 26px;
  font-size: 20px;
}
.card-date {
  font-size: 14px;
  
}
.card-author {
  padding-left: 10px;
  font-size: 14px;
}
.card-content {
  margin-top: 45px;
  font-size: 15px;
}

.side_panel{
  width:275px;
  margin-top: 42px;
  padding-right: 15px;
}

.posts-title {
  font-size: 14px;
  margin-bottom: 29px;
}
.post-card {
  margin-bottom: 22px;
}
.post-img {
  width: 70px;
}
.post-preview {
  width: 70px;
  height: 70px;
  
}
.post-header {
  width: 182px;
  margin-left: 20px;
 
}
.post-date {
  font-size: 12px; 
}
.post-title {
  font-size: 13px;
}

.search-section {
  margin-top: 50px;
} 
.search {
  width: 272px;
}
.field {
  height: 48px;
  padding-left: 18px;
}

.button-search {
  width: 48px;
  height: 48px;
}
.search-icon {
  width: 18px;
}

.subscription-section {
  padding-top: 60px;
  width: 272px;
}
.distribut {
  font-size: 14px;
}
.field-2 {
  height: 48px;
  padding-left:18px;
}
.button-subscription {
  height: 48px;
  margin-top: 18px;
  font-size: 14px;
}

.tegs-section{
  width: 272px;
  margin-top: 61px;
}
.tegs-title {
  font-size: 14px;
}
.tegs-list {
  width: 100%;
}
.tegs-list-item {
  padding: 2px 12px;
}
.tegs-link {
  font-size: 12px;
}
.tegs-list-item:nth-child(1n+4){
  margin-top: 5px;
}
.tegs-list-item:nth-child(3n+2){
  margin-left: 5px;
  margin-right: 5px;
}

.topics-section{
  width: 272px;
  margin-top: 61px;
  margin-bottom: 64px;
}
.topics-title {
  font-size: 14px;
}
.topics-list-item {
  margin-top: 10px;
}
.topics-link {
  font-size: 14px;
}
.number {
  font-size: 12px;
}
  
    .shop {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
    .shop-title{
    text-transform: uppercase;
    text-align: center;
    font-family:OpenSans-Bold;
    font-size: 20px;
}
    .shop-title::after {
    content: "";
    margin:auto;
    display: block;
    width: 66px;
    padding-top: 3px;
    border-bottom: 3px solid #e1d9bd;
    font-weight: bold;
}
    .shop-block {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    }
    .shop-item {
    width: 341px;
}
    .shop-item:nth-child(1n+2) {
        margin-left: 66px;
    }
    .shop-item-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    .shop-item-body {
    border: 3px solid #b59f5b;
    box-sizing: border-box;
    position: relative;
    height: inherit;
    top: -33px;
    height: 261px;
}
    .shop-item-title {
    text-transform: uppercase;
    font-family:OpenSans-Bold;
    font-size: 20px;
    padding-top: 25px;
    padding-right: 1.2vw;
    padding-left: 1.2vw;
}
    .shop-item-description {
    padding-right: 1.5vw;
    padding-left: 1.2vw;
    font-family:OpenSans;
    font-size: 15px;
}
    .shop-item-content {
    font-size: 15px;
}
    .shop-item-content-link {
    font-size: 15px;
    color: #b59f5b;
    text-decoration: none;
}
    .shop-item-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-end;
    padding-right: 1.2vw;
    padding-left: 1.2vw;
}
    .shop-item-prices {
    font-weight: 700;
    color: #222;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-family:OpenSans-Bold;
}
    .shop-item-price-old {
    text-decoration: line-through;
    font-size: 14px; 
    font-family:OpenSans-Bold;
}
    .shop-item-price {
    font-size: 20px;
    font-family:OpenSans-Bold;
}
    .shop-item-button {
    width: 8.4vw;
    height: 48px;
    text-align: center;
    cursor: pointer;
    background: #b59f5b;
    color: #ffffff;
    font-family:OpenSans-Bold;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #b59f5b;
}  
      
.footer{
  width: 1170px;
}
.footer-container {
  width: 1170px;
  height: 83px; 
}
.socials-item {
  align-items: center;
}
.footer-logo {
  padding-top: 31px;
  padding-left: 0.6vw;
  padding-right: 0.6vw;
  width: 1.2vw;
  height 20px;
}
.footer-copyright{
  padding-top: 105px;
}   
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}